In [2]:
import pandas as pd
import duckdb as ddb
import json

In [4]:
with open('response.json') as f:
    data = json.load(f)

In [22]:
location_df = pd.DataFrame([data['location']])
weather_df = pd.DataFrame([data['current']])
weather_df

,last_updated_epoch,last_updated,temp_c,temp_f,is_day,condition,wind_mph,wind_kph,wind_degree,wind_dir,...,windchill_f,heatindex_c,heatindex_f,dewpoint_c,dewpoint_f,vis_km,vis_miles,uv,gust_mph,gust_kph
0,1732869000,2024-11-29 14:00,20.7,69.3,1,"{'text': 'Overcast', 'icon': '//cdn.weatherapi...",9.6,15.5,8,N,...,69.3,20.7,69.3,16.0,60.8,10.0,6.0,1.1,12.9,20.8

In [25]:
flattened_data = {**data["location"], **data["current"]}

# Convert to a DataFrame
df = pd.DataFrame([flattened_data])
df

,name,region,country,lat,lon,tz_id,localtime_epoch,localtime,last_updated_epoch,last_updated,...,windchill_f,heatindex_c,heatindex_f,dewpoint_c,dewpoint_f,vis_km,vis_miles,uv,gust_mph,gust_kph
0,Bengaluru,Karnataka,India,12.9833,77.5833,Asia/Kolkata,1732869408,2024-11-29 14:06,1732869000,2024-11-29 14:00,...,69.3,20.7,69.3,16.0,60.8,10.0,6.0,1.1,12.9,20.8